body{
   padding: 0;
   margin: 0;
   
}
header .menu-items{
    display: flex;
}
.menu-nav{
    display: flex;
}
a,.menu-items nav ul{
    padding: 0;
    list-style: none;
    text-decoration: none;
    
}